.page.theme_dark {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color-transparent: #FF007066;
  --decoration-visibility: visible;
  --color: #FF0070;
  --article__title-color: #000028;  
}

